body {
	background-color: #222;
	color: white;
	font-style: italic;
	font-family: cursive;
	font-size: 24px;
	text-align: center;
}

h1 {}

div {
	margin: 5px 0px;
}

.input {
	width: 400px;
	height: 300px;
}

.submit {
	background-color: #414;
	padding: auto 10px;
	border-radius: 4px;
	margin: 0 auto;
	width: 70%;
	height: 100px;
	line-height: 100px;
}

.output {
	visibility: hidden;
	width: 80%;
	height: 200px;
	line-height: 200px;
	font-family: sans-serif;
	font-style: normal;
}